.style-red {
    color: #c81523;
}
.sk{
	position: absolute;
	top: 40px;
	left: 185px;
    border-left: 2px solid #b1191a;
    padding: 5px 14px;
}
.sk a{
	display: block;
	width: 175px;
	height: 56px;
	background: url(../upload/sk.png) no-repeat;
	font-size: 0;
}

.sk_list li {
    float: left;
    line-height: 45px;
    margin: 0 30px;
}
.sk_list li a {
    font-size: 16px;
    color: #000;
    font-weight: 700;
    
}
.sk_list li a:hover {
    color: #c81523;
}
.sk_con li {
    float: left;
    line-height: 45px;
    margin: 0 20px;
}
.sk_con li a {
    font-size: 14px;
    font-weight: 500;
    font-family: 'icomoon';
}
.sk_con li a:hover {
    color: #c81523;
}

/* 列表內容區  */
.sk_bd {
    margin-top: 10px;
    
}
.sk_bd ul {
    width: 1212px;
}
.sk_goods{
    width: 288px;
    height: 458px;
    border: 1px solid transparent;
    position: relative;
    float: left;
    margin: 0 12px 15px 0;
}
.sk_goods:hover {
    border: 1px solid #e12228;
}
.sk_goods_title {
    font-size: 14px;
    color: #666;
    font-weight: normal;
    padding: 7px 10px;
}
.sk_goods_price {
    padding: 0 10px;
}
.sk_goods_price em {
    font-size: 22px;
    color: #e60012;
}
.sk_goods_price del {
    font-size: 14px;
    font-weight: 700;
    color: #a4a4a4;
}
.sk_goods_progress {
    padding: 0 10px;
}
.bar {
    display: inline-block;
    width: 97px;
    height: 10px;
    border: 1px solid #b1191a;
    vertical-align: middle;
    border-radius: 10px;
    margin: 0 10px;
}
.bar_in {
    background-color: #b1191a;
    height: 10px;
    width: 87%;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}
.sk_goods_progress em,
.sk_goods_progress i {
    color: #b1191a;
}
.sk_goods_buy {
    position: absolute;
    bottom: 0;
    display: block;
    height: 50px;
    width: 100%;
    background-color: #b1191a;
    color: #fff;
    text-align: center;
    line-height: 50px;
    font-size: 20px;
}
.page {
    margin: 40px 0;
    text-align: center;

}
.page_num a {
    display: inline-block;
    width: 36px;
    height: 36px;
    line-height: 36px;
    border: 1px solid #ccc;
    background-color: ##f7f7f7;

}
.page_num .pn_prev,
.page_num .pn_next {
    width: 83px;
}
.page_num .current,
.page_num .dotted {
    border: 1px solid transparent;
    background-color: transparent;
}

.page_skip input {
    width: 46px;
    height: 36px;
    border: 1px solid #ccc;
    text-align: center; 
    transition: all .5s;
}
.page_skip input:focus {
    width: 88px;
    border: 1px solid #b1191a;
}

.page_skip button {
    width: 54px;
    height: 36px;
    border: 1px solid #ccc;
    background-color: ##f7f7f7;
    transition: all .2s;
}
.page_skip button:hover {
    color: white;
    background-color: #b1191a;
}

